@media (min-width: 780px) {
    .contain {
        /* max-width: 1200px; */
        margin: 0 auto;
    }
    .nav-global {
        width: 100%;
        background-color: rgb(60, 42, 142);
    }
    .nav {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        color: white;
    }

    .nav a {
        color: white;
        text-decoration: none;
    }
    .nav a.active {
        border: 1px solid white;
        padding: 9px 6px;
        border-radius: 18px;
    }

    .nav nav {
        display: flex;
        align-items: center;
        padding: 2%;
        gap: 2em;
    }
    .link {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .attractions {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .attractions:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .more {
        display: none;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .more:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .link:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }
    .head h1 {
        font-size: 18px;
        font-weight: normal;
    }
    .head button {
        width: 72px;
        height: 36px;
        border-radius: 6px;
        cursor: pointer;
    }
    .button {
        display: flex;
        position: relative;
        align-items: center;
        gap: 1em;
    }
    .sub-button {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .user-icon {
        display: none;
    }
    .list-icon {
        display: none;
        cursor: pointer;
    }
    .list-box {
        /* display: flex; */
        display: none;
        position: absolute;
        flex-direction: column;
        border: 1px solid rgb(153, 151, 151);
        padding: 1em;
        gap: 1em;
        border-radius: 12px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.164);
        transform: translate(0, 50%);
        right: 0;
        top: 0;
    }
    .list-box p {
        cursor: pointer;
    }
    .list-box p:hover {
        color: gold;
    }
    .register {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(60, 42, 142);
        color: white;
        align-items: center;
        justify-content: center;
        margin: 3em 0;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 3em 0;
    }
    .form h2 {
        font-size: 30px;
    }
    .form form {
        display: flex;
        gap: 1em;
    }
    .form form input {
        height: 36px;
        width: 270px;
        border-radius: 6px;
        border: none;
        padding: 0 6px;
    }
    .form form button {
        height: 36px;
        width: 72px;
        border-radius: 6px;
        border: none;
        background-color: rgb(107, 107, 199);
        color: white;
        cursor: pointer;
    }
    .form form button:hover {
        transition: transform 0.5s;
        transform: scale(1.1);
    }
}
@media (min-width: 950px) {
    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer a {
        text-decoration: none;
    }
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
        gap: 1em;
        padding: 0 1em 3em 0;
    }
    .footer-content div {
        display: flex;
        flex-direction: column;
        padding: 5%;
        gap: 1em;
    }
}
@media (max-width: 949px) {
    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }
    .footer a {
        text-decoration: none;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 2%;
        /* padding: 0 1em 3em 0; */
    }
    .footer-content div {
        display: flex;
        /* flex-direction: column; */
        /* padding: 5%; */
        gap: 1em;
        flex-wrap: wrap;
    }
}
@media (max-width: 779px) {
    .contain {
        max-width: 1200px;
        margin: 0 auto;
    }
    .nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(60, 42, 142);
        max-width: 1200px;
        color: white;
    }

    .nav a {
        color: white;
        text-decoration: none;
    }
    .nav a.active {
        border: 1px solid white;
        padding: 9px 6px;
        border-radius: 18px;
    }

    .nav nav {
        display: flex;
        align-items: center;
        padding: 2%;
        gap: 2em;
    }
    .link {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport {
        display: none;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .more {
        position: relative;
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .more:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .select {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1em;
        border-radius: 12px;
        background-color: blue;
        top: 30px;
        right: -50%;
        width: 150px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);
    }
    .option01 {
        display: none;
    }
    .attractions {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .attractions:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .link:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }
    .head h1 {
        font-size: 18px;
        font-weight: normal;
    }
    .head button {
        width: 72px;
        height: 36px;
        border-radius: 6px;
        cursor: pointer;
    }
    .button {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .button-change {
        display: none;
    }
    .display-email {
        display: none;
    }
    .list-icon {
        /* display: none; */
        cursor: pointer;
    }
    .list-box {
        display: flex;
        /* display: none; */
        position: absolute;
        flex-direction: column;
        border: 1px solid rgb(153, 151, 151);
        padding: 1em;
        gap: 1em;
        border-radius: 12px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.164);
        transform: translate(0, 30%);
        right: 1em;
        top: 0;
        background-color: rgb(5, 5, 124);
        z-index: 99;
    }
    .list-box p {
        cursor: pointer;
    }
    .list-box p:hover {
        color: gold;
    }
    .register {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(60, 42, 142);
        color: white;
        align-items: center;
        justify-content: center;
        margin: 3em 0;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 3em 0;
    }
    .form h2 {
        font-size: 30px;
    }
    .form form {
        display: flex;
        gap: 1em;
    }
    .form form input {
        height: 36px;
        width: 270px;
        border-radius: 6px;
        border: none;
        padding: 0 6px;
    }
    .form form button {
        height: 36px;
        width: 72px;
        border-radius: 6px;
        border: none;
        background-color: rgb(107, 107, 199);
        color: white;
        cursor: pointer;
    }
    .form form button:hover {
        transition: transform 0.5s;
        transform: scale(1.1);
    }
}
@media (max-width: 660px) {
    .contain {
        max-width: 1200px;
        margin: 0 auto;
    }
    .nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(60, 42, 142);
        max-width: 1200px;
        color: white;
    }

    .nav a {
        color: white;
        text-decoration: none;
    }
    .nav a.active {
        border: 1px solid white;
        padding: 9px 6px;
        border-radius: 18px;
    }

    .nav nav {
        display: flex;
        align-items: center;
        padding: 2%;
        gap: 2em;
    }
    .link {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport {
        display: none;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .attractions {
        display: none;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .attractions:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .more {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .more:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .select {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1em;
        border-radius: 12px;
        background-color: blue;
        top: 30px;
        right: -50%;
        width: 150px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);
    }
    .option01 {
        display: block;
    }
    .link:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }
    .head h1 {
        font-size: 18px;
        font-weight: normal;
    }
    .head button {
        width: 72px;
        height: 36px;
        border-radius: 6px;
        cursor: pointer;
    }
    .button {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .button-change {
        display: none;
    }
    .display-email {
        display: none;
    }
    .list-icon {
        /* display: none; */
        cursor: pointer;
    }
    .list-box {
        display: flex;
        /* display: none; */
        position: absolute;
        flex-direction: column;
        border: 1px solid rgb(153, 151, 151);
        padding: 1em;
        gap: 1em;
        border-radius: 12px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.164);
        transform: translate(0, 30%);
        right: 1em;
        top: 0;
        background-color: rgb(5, 5, 124);
        z-index: 99;
    }
    .list-box p {
        cursor: pointer;
    }
    .list-box p:hover {
        color: gold;
    }
}
@media (max-width: 499px) {
    .contain {
        width: 100%;
        margin: 0 auto;
    }
    .nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(60, 42, 142);
        max-width: 1200px;
        color: white;
    }

    .nav a {
        color: white;
        text-decoration: none;
    }
    .nav a.active {
        border: 1px solid white;
        padding: 9px 6px;
        border-radius: 18px;
    }

    .nav nav {
        display: flex;
        align-items: center;
        padding: 2%;
        gap: 2em;
        white-space: nowrap;
        overflow: auto;
    }
    .link {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .airport:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .attractions {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .attractions:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .more {
        display: none;
        gap: 6px;
        align-items: center;
        cursor: pointer;
    }
    .more:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .link:hover {
        text-decoration: overline;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }
    .head h1 {
        font-size: 18px;
        font-weight: normal;
    }
    .head button {
        width: 72px;
        height: 36px;
        border-radius: 6px;
        cursor: pointer;
    }
    .button {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .button-change {
        display: none;
    }
    .display-email {
        display: none;
    }
    .list-icon {
        /* display: none; */
        cursor: pointer;
    }
    .list-box {
        display: flex;
        /* display: none; */
        position: absolute;
        flex-direction: column;
        border: 1px solid rgb(153, 151, 151);
        padding: 1em;
        gap: 1em;
        border-radius: 12px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.164);
        transform: translate(0, 30%);
        right: 1em;
        top: 0;
        background-color: rgb(5, 5, 124);
        z-index: 99;
    }
    .list-box p {
        cursor: pointer;
    }
    .list-box p:hover {
        color: gold;
    }
}
