@media (min-width: 1050px) {
    .contain {
        max-width: 1200px;
        margin: 3em auto 0;
        padding: 0 3em;
    }
    .contain h2 {
        margin-bottom: 1em;
    }
    .table-head {
        display: grid;
        grid-template-columns: 1fr 6fr 120px 6fr 2fr 4fr 2fr;
        background-color: rgb(52, 129, 218);
        color: white;
        height: 45px;
        align-items: center;
        font-weight: bold;
    }
    .border-head {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid white;
        border-collapse: collapse;
        height: 100%;
        padding-left: 1em;
        /* padding: 0 6px; */
    }
    .border-list {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgb(214, 210, 210);
        border-collapse: collapse;
        height: 100%;
        padding-left: 1em;
        /* overflow: none; */
        /* padding: 0 6px; */
    }
    .table-list {
        display: grid;
        grid-template-columns: 1fr 6fr 120px 6fr 2fr 4fr 2fr;
        /* background-color: rgb(52, 129, 218); */
        /* color: white; */
        height: 45px;
        align-items: center;
    }

    .for-small {
        display: none;
        width: 90%;
        /* border: 1px solid blue; */
        margin: 0 auto;
    }
    .for-small h2 {
        margin-top: 3em;
    }
    .head {
        display: grid;
        grid-template-columns: 36px 1fr;
        /* border: 1px solid green; */
        border-collapse: collapse;
        align-items: center;
    }

    .border-list-small {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgb(214, 210, 210);
        border-collapse: collapse;
        height: 100%;
        padding: 1em;
        /* overflow: none; */
        /* padding: 0 6px; */
    }
    .border-list-small-header {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgb(214, 210, 210);
        border-collapse: collapse;
        height: 100%;
        padding: 1em;
        justify-content: center;
        /* overflow: none; */
        /* padding: 0 6px; */
    }
}
@media (max-width: 1049px) {
    .contain {
        max-width: 1200px;
        margin: 3em auto 0;
        padding: 0 1em;
    }
    .contain h2 {
        margin-bottom: 1em;
    }
    .large {
        display: none;
    }
    .table-head {
        display: grid;
        grid-template-columns: 1fr 6fr 120px 6fr 2fr 4fr 2fr;
        background-color: rgb(52, 129, 218);
        color: white;
        height: 45px;
        align-items: center;
        font-weight: bold;
    }
    .border-head {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid white;
        border-collapse: collapse;
        height: 100%;
        padding-left: 1em;
        /* padding: 0 6px; */
    }
    .border-list {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgb(214, 210, 210);
        border-collapse: collapse;
        height: 100%;
        padding-left: 1em;
        /* overflow: none; */
        /* padding: 0 6px; */
    }
    .table-list {
        display: grid;
        grid-template-columns: 1fr 6fr 120px 6fr 2fr 4fr 2fr;
        /* background-color: rgb(52, 129, 218); */
        /* color: white; */
        height: 45px;
        align-items: center;
    }

    .for-small {
        /* display: none; */
        width: 100%;
        /* border: 1px solid blue; */
        margin: 0 auto;
    }
    .for-small h2 {
        margin-top: 3em;
    }
    .head {
        display: grid;
        grid-template-columns: 36px 1fr;
        /* border: 1px solid green; */
        border-collapse: collapse;
        align-items: center;
    }

    .border-list-small {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgb(214, 210, 210);
        border-collapse: collapse;
        height: 100%;
        padding: 1em;
        /* overflow: none; */
        /* padding: 0 6px; */
    }
    .border-list-small-header {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgb(214, 210, 210);
        border-collapse: collapse;
        height: 100%;
        padding: 1em;
        justify-content: center;
        /* overflow: none; */
        /* padding: 0 6px; */
    }
    .number {
        display: flex;
        gap: 1em;
    }
    .ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
